<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900" rel="stylesheet">
    <title>Ice Cream Nation</title>
    <link rel="shortcut icon" href="/imgs/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/svgLogo.css">
    <link rel="stylesheet" href="/css/svgIcons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/flickity.min.css">

    <script src="/js/flickity.pkgd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>
    <header>
        <div class="hamburguer">
            <img src="/imgs/icons/open.png" id="openH" width="30px" height="30px" alt="Open">
            <img src="/imgs/icons/close.png" id="closeH" width="30px" height="30px" alt="close">

        </div>
        <div class="nav" id="navegador">
            <ul>
                <img src="/imgs/favicon.png" width="80px" alt="">
                <li>
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Características</a>
                </li>
                <li>
                    <a href="/tu_helado">¿Qué helado eres?</a>
                </li>
                <li>
                    <a href="#">Tienda</a>
                </li>
                <li>
                    <a href="#">Suscríbete</a>
                </li>
            </ul>
        </div>
        <div class="superiorBar">
            <div class="credentials">
                <div class="credential">
                    <a href="#" id="login">Login</a>
                    <a href="#" id="register">Registrarse</a>
                </div>
            </div>
        </div>
        <div class="logoContainer">
            <div class="logo">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 1114 300" style="enable-background:new 0 0 1114 300;" xml:space="preserve">

                    <rect x="226.5" y="22.5" class="st0" width="865" height="126" />
                    <rect x="22.5" y="22.5" class="st1" width="204" height="126" />
                    <rect x="226.5" y="148.5" class="st2" width="865" height="126" />
                    <rect x="22.5" y="148.5" class="st3" width="204" height="126" />

                    <line class="st4" x1="124.5" y1="25.5" x2="124.5" y2="67.5" />
                    <line class="st4" x1="31.3" y1="80.1" x2="55.7" y2="104.4" />
                    <line class="st4" x1="68.5" y1="53" x2="83.9" y2="75.5" />
                    <line class="st4" x1="217.7" y1="80.6" x2="193.3" y2="104.9" />
                    <line class="st4" x1="180.5" y1="53.5" x2="165.1" y2="76" />

                    <rect x="364.5" y="-500.5" class="st5" width="96" height="96" />
                    <rect x="478" y="-500" class="st6" width="96" height="96" />
                    <rect x="592.5" y="-500.5" class="st7" width="96" height="96" />
                    <rect x="706" y="-500" class="st8" width="96" height="96" />
                    <rect x="198" y="-615" class="st9" width="96" height="96" />
                    <path class="st10" d="M182.8,148.5c-2.2-30.5-27.7-54.6-58.8-54.6S67.4,118,65.2,148.5H182.8z" />
                    <polygon class="st11" points="65,148 124,275.5 183,148 " />
                    <text transform="matrix(1 0 0 1 255.0996 122.8188)" class="st12 st13">ICE CREAM NATION</text>
                    <text transform="matrix(1 0 0 1 273.0996 241.8188)" class="st12 st13">NITROGEN TREATS</text>
                </svg>
            </div>
        </div>
    </header>

    <div class="slider">
        <div class="main-carousel">
            <div class="carousel-cell" style='background-image: url(/imgs/slider/slider1.jpeg)'>

            </div>
            <div class="carousel-cell">
                <h1>Carousel</h1>
            </div>
            <div class="carousel-cell" style='background-image: url(/imgs/slider/slider3.jpeg)'>
                <h1>Example</h1>
            </div>
        </div>

    </div>

    <div class="characteristics">
        <h2>Principales Características</h2>
        <div class="characteristicContainer">

            <div id="characteristicIcon1" class="characteristic">
                <div class="svgIcon">

                    <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="icecreamIcon1" x="0px" y="0px" viewBox="0 0 170 206" style="enable-background:new 0 0 170 206;" xml:space="preserve">

                        <line class="iconF0" x1="132.9" y1="68.7" x2="144.2" y2="22.9" />
                        <line class="iconF0" x1="128.5" y1="75.4" x2="130.1" y2="1.8" />
                        <path class="iconF0" d="M38.6,79.4V25.5c0,0,0.2-17.3-16.7-15.7" />
                        <circle id="icon1BigCircle" class="iconF1" cx="85" cy="88.4" r="62.4" />
                        <circle id="icon1Circle1" class="iconF1" cx="122.7" cy="86.6" r="34.3" />
                        <circle id="icon1Circle2" class="iconF1" cx="48.6" cy="87.1" r="34.3" />
                        <path class="iconF2" d="M21.7,72.6c7.5,12.3,15.5,24.3,23.3,36.6" />
                        <path class="iconF2" d="M33.9,61.6c7.3,13.2,16.3,24.2,23.7,37.2" />
                        <path class="iconF2" d="M48.5,56.8c7.7,12,15.7,24,23.1,36.3" />
                        <path id="icon1CoverIce" class="iconF2" d="M82.9,44.5c5.2-1.1,9.8-3.6,14.9-5c5.6-1.6,12.8-5,19-4.8C107.5,29.2,96.6,26,85,26c-11.2,0-21.7,3-30.8,8.2
	C60.2,41.8,74,46.4,82.9,44.5z" />
                        <circle class="iconF3" cx="126.8" cy="70.2" r="2.1" />
                        <circle class="iconF3" cx="130.6" cy="66.4" r="2.1" />
                        <circle class="iconF3" cx="122.7" cy="66.2" r="2.1" />
                        <path id="icon1Container" class="iconF4" d="M8,85.7c0,0,155,0,155.1,0c0.2,0-3.4,17.2-3.7,18.1c-3.6,13-9.3,25.6-17.5,36.3c-19.5,25.3-57.6,35.3-87,22
	C25.3,148.8,12.6,115.9,8,85.7z" />
                        <circle class="iconF5" cx="106.8" cy="100.2" r="2.1" />
                        <circle class="iconF5" cx="46.4" cy="124.7" r="2.1" />
                        <circle class="iconF5" cx="41" cy="124.7" r="2.1" />
                        <circle class="iconF5" cx="46.4" cy="130.4" r="2.1" />
                        <rect x="75.4" y="168.4" class="iconF4" width="16.4" height="16.4" />
                        <path class="icon1Container2" d="M47.6,200.6h72.2l-27-14.4H75.3C75.3,186.2,45.8,200.6,47.6,200.6z" />
                        <polygon class="iconF6" points="143.9,89.7 141.7,102.4 150.5,102.6 155.4,102.6 158.2,89.7 " />
                        <path class="iconF6" d="M140.4,112.6c0,0-11.3,34-58.7,51.5c0,0,34.7,2.3,56.7-25.6c0,0,9.5-10.8,14.8-27.9l-12-0.2L140.4,112.6z"
                        />
                        <path id="porfaFunciona" class="iconF7" d="M158.5,106.7c-12.7,0-25.2-0.8-37.9,0.1c0,5.7,0,11.5,0,17.2c0,0.9,0,1.9-0.4,2.8c-0.5,1.1-1.5,2-2.6,2.5
	c-2.7,1.3-6,1-8.4-0.6c-1.2-0.8-2.4-1.9-2.8-3.4c-0.3-1.2-0.4-3.6-0.4-5.5c0-3.2-0.2-7.2-0.2-11.7c-0.5,1-1.1,2.1-1.9,3
	c-2.9,3.1-7.4,4.6-11.5,3.9c-4.6-0.8-8-4.1-9.8-8.3c-9.4,0.2-19,0-28.4,0c-13.9,0-27.8,0-41.7,0L7.8,85.7h155.1L158.5,106.7z"
                        />
                        <path class="iconF8" d="M124.5,55.5c0,0,19.6,7,23.3,26.3l5.2,0.1C152.9,81.9,150.9,57.9,124.5,55.5z" />
                    </svg>

                </div>
                <span>Vegan Sugar Free</span>
                <p></p>
            </div>
            <div class="characteristic">

                <div class="svgIcon">
                    <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="icecreamIcon2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                        y="0px" viewBox="0 0 170 206" style="enable-background:new 0 0 170 206;" xml:space="preserve">

                        <polygon class="st20" id="baseIcon2" points="143.3,197.3 38.7,197.3 31.7,150.9 150.3,150.9 " />
                        <path class="st21" id="creamIcon2" d="M130.1,101c0,0,16.6-25.2-8.4-42.3c0,0,2.8-27.6-21.3-31.9C76.2,22.4,80.9,10,80.9,10s-25.8,6.8-17.4,35
	c0,0-29.7,17.1-10.9,50.3c0,0-34.7,14.7-14.7,55.7h14.7h0.6v22.9c0,4,3.3,7.3,7.3,7.3c4,0,7.3-3.3,7.3-7.3V151h77.7
	C145.5,151,163.4,121.4,130.1,101z" />
                        <path class="st22" d="M103,59.9c6.3,0.2,12.5-0.3,18.7-1.3" />
                        <path class="st22" d="M63.5,45c6.8,8.6,17.8,11.6,28.4,13.9" />
                        <path class="st22" d="M83.6,108.3c15.9,3.4,32.6,1.5,46.4-7.4" />
                        <path class="st22" d="M52.6,95.2c6.1,4.2,13,7.4,19.9,9.9" />
                        <polygon class="st23" points="132.5,157.2 125.2,195 139.7,195 145.5,157.2 " />
                        <g>
                        </g>
                    </svg>

                </div>

                <span>Sorbetes</span>
                <p></p>
            </div>
            <div class="characteristic">
                <div class="svgIcon">
                    <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="icecreamIcon3" x="0px" y="0px" viewBox="0 0 170 206" style="enable-background:new 0 0 170 206;" xml:space="preserve">

                        <path class="st30" id="iceStickIcon3" d="M97.8,144.6H75.7v47.7c0,6.1,5,11.1,11.1,11.1h0c6.1,0,11.1-5,11.1-11.1V144.6z" />
                        <path class="st31" d="M90.8,155.5v34.1c0,0,0,5.4-5.1,7.5c0,0,9.6,1.4,8.6-7.3v-34.3H90.8z" />
                        <path class="st32" id="iceCoverIcon3" d="M89.5,5.1h-7c-23.8,0-43.1,19.3-43.1,43.1v107.1h93.2V48.2C132.6,24.4,113.3,5.1,89.5,5.1z"
                        />
                        <path class="st33" d="M60.6,52.2c0,0-2.8,11.4,7.9,11.4s7.9-11.4,7.9-11.4" />
                        <path class="st33" d="M95.6,85.2c0,0-2.8,11.4,7.9,11.4s7.9-11.4,7.9-11.4" />
                        <path class="st33" d="M62.6,111.2c0,0-2.8,11.4,7.9,11.4s7.9-11.4,7.9-11.4" />
                        <path class="st31" d="M90.7,8.6c0,0,33.4,13.8,31.5,46.9v97.7h8.9V43.6c0,0-3.1-26.1-27.3-35.8L90.7,8.6z" />
                    </svg>


                </div>
                <span>Tradicionales</span>
                <p></p>
            </div>
            <div class="characteristic">
                <div class="svgIcon">

                    <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="iceCreamIcon4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                        y="0px" viewBox="0 0 170 206" style="enable-background:new 0 0 170 206;" xml:space="preserve">

                        <circle class="st40" cx="58.9" cy="37.5" r="1" />
                        <circle class="st40" cx="58.9" cy="84.3" r="1" />
                        <circle class="st41" cx="46.9" cy="84.3" r="1.8" />
                        <circle class="st42" cx="49.6" cy="55.4" r="1.7" />
                        <polygon class="st43" id="coneIceCream4" points="87.8,201.6 130,93.5 44.9,93.5 " />
                        <line class="st44" x1="76.7" y1="166.9" x2="119.4" y2="120.5" />
                        <line class="st44" x1="65" y1="137.1" x2="108.5" y2="93.9" />
                        <line class="st44" x1="55" y1="111.9" x2="71.2" y2="95" />
                        <line class="st44" x1="98" y1="168.2" x2="59.3" y2="125.6" />
                        <line class="st44" x1="109.7" y1="138.8" x2="65" y2="93.9" />
                        <polygon class="st45" points="112.4,103.9 85.8,187.1 87.4,191.2 121.5,106.1 " />
                        <line class="st44" x1="119.6" y1="113.3" x2="98.8" y2="93.4" />
                        <path class="st46" id="coverIceCream4" d="M36.8,66c0,0-3.9-14.6,8.9-24.9c0,0,5.4-30.6,42.2-29.8c36.8,0.8,38.5,30.1,38.5,30.1s16.4,3.9,11.8,26.4
	c0,0,11.6,17.8-6.8,32.6c-10.7,8.3-24.8-3.5-24.8-3.5s-7,12-20.7,11.8s-18-11.8-18-11.8S48.7,109,36.2,93.5C25.9,77,36.8,66,36.8,66
	z" />
                        <path class="st44" d="M83.6,28.9c0,0-14.9-1.1-22.1,20.9" />
                        <path class="st44" d="M106.6,55.9c0,0,10.9,2.4,10,14.1" />
                    </svg>
                </div>
                <span>Ice
                    <br> Lab
                </span>
                <p></p>
            </div>
        </div>
    </div>

    <div class="newsletter">

    </div>
    <footer>
        <div class="info">
            <div class="about">
                <h6>Acerca de</h6>
                <span><b>Ingredientes</b></span>
                <span><b>Personal Humano</b></span>
            </div>
            <div class="contact_us">
                <h6>Contáctenos</h6>
                <span><b>Tel:</b> 2563081</span>
                <span><b>Dirección:</b> Calle 17 #85c-44</span>
                <span><b>Suscribirse al newsletter</b> </span>
            </div>
        </div>
        <div class="logo">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 1114 300" style="enable-background:new 0 0 1114 300;" xml:space="preserve">

                <rect x="226.5" y="22.5" class="st0" width="865" height="126" />
                <rect x="22.5" y="22.5" class="st1" width="204" height="126" />
                <rect x="226.5" y="148.5" class="st2" width="865" height="126" />
                <rect x="22.5" y="148.5" class="st3" width="204" height="126" />

                <line class="st4" x1="124.5" y1="25.5" x2="124.5" y2="67.5" />
                <line class="st4" x1="31.3" y1="80.1" x2="55.7" y2="104.4" />
                <line class="st4" x1="68.5" y1="53" x2="83.9" y2="75.5" />
                <line class="st4" x1="217.7" y1="80.6" x2="193.3" y2="104.9" />
                <line class="st4" x1="180.5" y1="53.5" x2="165.1" y2="76" />

                <rect x="364.5" y="-500.5" class="st5" width="96" height="96" />
                <rect x="478" y="-500" class="st6" width="96" height="96" />
                <rect x="592.5" y="-500.5" class="st7" width="96" height="96" />
                <rect x="706" y="-500" class="st8" width="96" height="96" />
                <rect x="198" y="-615" class="st9" width="96" height="96" />
                <path class="st10" d="M182.8,148.5c-2.2-30.5-27.7-54.6-58.8-54.6S67.4,118,65.2,148.5H182.8z" />
                <polygon class="st11" points="65,148 124,275.5 183,148 " />
                <text transform="matrix(1 0 0 1 255.0996 122.8188)" class="st12 st13">ICE CREAM NATION</text>
                <text transform="matrix(1 0 0 1 273.0996 241.8188)" class="st12 st13">NITROGEN TREATS</text>
            </svg>
        </div>

    </footer>



    <script src="/js/anime.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/characteristics.js"></script>
    </body>

</html>