<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900" rel="stylesheet">
    <title>Ice Cream Company</title>
    <link rel="shortcut icon" href="/imgs/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/svgLogo.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/flickity.min.css">
    
    <script src="/js/flickity.pkgd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>
    <header>
        <div class="hamburguer">
            <img src="/imgs/icons/open.png" id="openH" width="30px" height="30px" alt="Open">
            <img src="/imgs/icons/close.png" id="closeH" width="30px" height="30px" alt="close">

        </div>
        <div class="nav" id="navegador">
            <ul>
                <img src="/imgs/favicon.png" width="80px" alt="">
                <li>
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Características</a>
                </li>
                <li>
                    <a href="#">¿Qué helado eres?</a>
                </li>
                <li>
                    <a href="#">Tienda</a>
                </li>
                <li>
                    <a href="#">Suscríbete</a>
                </li>
            </ul>
        </div>
        <div class="superiorBar">
            <div class="credentials">
                <div class="credential">
                    <a href="#" id="login">Login</a>
                    <a href="#" id="register">Registrarse</a>
                </div>
            </div>
        </div>
        <div class="logoContainer">
            <div class="logo">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 1114 300" style="enable-background:new 0 0 1114 300;" xml:space="preserve">

                    <rect x="226.5" y="22.5" class="st0" width="865" height="126" />
                    <rect x="22.5" y="22.5" class="st1" width="204" height="126" />
                    <rect x="226.5" y="148.5" class="st2" width="865" height="126" />
                    <rect x="22.5" y="148.5" class="st3" width="204" height="126" />
                    
                    <line class="st4" x1="124.5" y1="25.5" x2="124.5" y2="67.5" />
                    <line class="st4" x1="31.3" y1="80.1" x2="55.7" y2="104.4" />
                    <line class="st4" x1="68.5" y1="53" x2="83.9" y2="75.5" />
                    <line class="st4" x1="217.7" y1="80.6" x2="193.3" y2="104.9" />
                    <line class="st4" x1="180.5" y1="53.5" x2="165.1" y2="76" />
                    
                    <rect x="364.5" y="-500.5" class="st5" width="96" height="96" />
                    <rect x="478" y="-500" class="st6" width="96" height="96" />
                    <rect x="592.5" y="-500.5" class="st7" width="96" height="96" />
                    <rect x="706" y="-500" class="st8" width="96" height="96" />
                    <rect x="198" y="-615" class="st9" width="96" height="96" />
                    <path class="st10" d="M182.8,148.5c-2.2-30.5-27.7-54.6-58.8-54.6S67.4,118,65.2,148.5H182.8z" />
                    <polygon class="st11" points="65,148 124,275.5 183,148 " />
                    <text transform="matrix(1 0 0 1 255.0996 122.8188)" class="st12 st13">ICE CREAM NATION</text>
                    <text transform="matrix(1 0 0 1 273.0996 241.8188)" class="st12 st13">NITROGEN TREATS</text>
                </svg>
            </div>
        </div>
    </header>

    <div class="slider">
        <div class="main-carousel">
            <div class="carousel-cell" style='background-image: url(/imgs/slider/slider1.jpeg)'>
                <h1>Magic</h1>
            </div>
            <div class="carousel-cell" style='background-image: url(/imgs/slider/slider2.jpg)'>
                <h1>Carousel</h1>
            </div>
            <div class="carousel-cell" style='background-image: url(/imgs/slider/slider3.jpeg)'>
                <h1>Example</h1>
            </div>
        </div>

    </div>
    <script src="/js/anime.min.js"></script>
    <script src="/js/main.js"></script>

    <div class="characteristics">
        <h2>Principales Características</h2>
        <div class="characteristic">
            <img src="" alt="" width="50px" height="50px">
            <span>Vegan Sugar Free</span>
            <p></p>
        </div>
        <div class="characteristic">
            <img src="" alt="" width="50px" height="50px">
            <span>Sorbetes</span>
            <p></p>
        </div>
        <div class="characteristic">
            <img src="" alt=""  width="50px" height="50px">
            <span>Tradicionales</span>
            <p></p>
        </div>
        <div class="characteristic">
            <img src="" alt=""  width="50px" height="50px">
            <span>Ice Lab</span>
            <p></p>
        </div>
    </div>
</body>

</html>