$mont: 'Montserrat',
sans-serif;
$pink: #FFAFB1;
$green: #B7DB66;
$blue: #3FCECA;
$gray: #B6B8B8;
$softViolet: #B9B7FF;
$black: #22222C;
.contentApp {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    .charging {
        //margin-top: -150px;
        position: relative;
        text-align: center;
        width: 50px;
        height: 50px;
        animation: rotatingDotContainer 2s infinite linear;
        .dot {
            width: 60%;
            height: 60%;
            display: inline-block;
            position: absolute;
            top: 0;
            background-color: $pink;
            border-radius: 100px;
            animation: sizingDots 2s infinite ease-in-out;
        }
        .chargingDot2 {
            background-color: $blue;
            top: auto;
            bottom: 0;
            animation-delay: -1s;
        }
        .chargingDot3 {
            background-color: $blue;
            top: auto;
            bottom: 0;
            animation-delay: -1.5s;  
        }
    }
}


.titleComposition {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .titles {
        .subTitleIce {

            width: 100%;
            color: $softViolet;
            text-transform: uppercase;
            font-family: $mont;
            font-weight: 500;
            font-size: 40px;
        }
        .titleIce {

            width: 100%;
            color: $black;
            text-transform: uppercase;
            font-family: $mont;
            font-weight: 900;
            font-style: oblique;
            text-align: right;
            font-size: 100px;
            line-height: 55px;
            //background: $softViolet;
        }    
        #thirdTitle {
            width: 100%;
            text-align: right;
        }
    }
    .imageTitle {
        cursor: pointer;
        margin-left: -20px;
        width: 200px;
        z-index: 1;
    }

}

.test {
    height: 100vh;
    transition: .2s ease all;

    .titleTest {
        width: 100%;
        height: 200px;
        padding: 0 20px 0 20px;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-flow: 1;
        transition: .2s ease all;

        h1 {
            width: 100%;
            color: $black;
            text-transform: uppercase;
            font-family: $mont;
            font-weight: 900;
            text-align: center;
            position: relative;
            transition: .2s ease all;

            .text-wrapper {
                position: relative;
                display: inline-block;
                padding-top: 0.2em;
                padding-right: 0.05em;
                padding-bottom: 0.1em;
                overflow: hidden;
                transition: .2s ease all;

            }
            .letter {
                display: inline-block;
                line-height: 1em;
                transition: .2s ease all;

            }
        }
    }
    .answersContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 3;
        
        .answers {
            display: flex;
            flex-direction: row;
        
            justify-content: space-around;
            .answer{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                //transition: .2s ease all;

                .answerCard {
                    border-radius: 15px;
                    margin: 20px 10%;
                    width: 70px;
                    height: 80px;
                    border: 3px solid $black;
                    //transition: .2s ease all;
                    cursor: pointer;
                    
                    &:hover {
                        
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        transform: translateY(-10px);
                    }
                }
                span {
                    height: 80px;
                    width: 200px;
                    font-family: $mont;
                    font-weight: 800;
                    text-align: center;
                    color: $black;
                }
            }
        }
    }
    

}

/* ----------------------------------------------
 * Generated by Animista on 2018-5-31 13:49:41
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }


@keyframes rotatingDotContainer {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes sizingDots {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}



@media screen and (max-width: 670px) {

    .titleComposition {

        flex-direction: column;

        .titles {
            .subTitleIce {


                font-size: 20px;
            }
            .titleIce {


                font-size: 50px;
                line-height: 30px;
            }    
            #thirdTitle {
                width: 100%;
                line-height: 20px;
            }
        }
        .imageTitle {

            margin-top: 20px;
            width: 60%;
        }
    
    }



    .test {
        .titleTest {
           
        }
        .answersContainer {
            
            display: flex;
            flex-direction: column;
            flex-grow: 3;
            .answers {
                flex-direction: column;
                justify-content: space-between;
                .answer{
                    margin-top: auto;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    
                    .answerCard {
                        border-radius: 15px;
                        margin: 20px 10%;
                        width: 70px;
                        height: 80px;
                        border: 3px solid $black;
                        transition: .2s ease all;
                        cursor: pointer;
                        &:hover {
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                            transform: translateX(10px);
                        
                        }
                    }
                    span {
                        width: 100px;
                        height: auto;
                        text-align: left;
                        font-family: $mont;
                    }
                }
            }
        }
        
    
    }


}