.contentApp {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.contentApp .charging {
  position: relative;
  text-align: center;
  width: 50px;
  height: 50px;
  animation: rotatingDotContainer 2s infinite linear;
}

.contentApp .charging .dot {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #FFAFB1;
  border-radius: 100px;
  animation: sizingDots 2s infinite ease-in-out;
}

.contentApp .charging .chargingDot2 {
  background-color: #3FCECA;
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

.contentApp .charging .chargingDot3 {
  background-color: #3FCECA;
  top: auto;
  bottom: 0;
  animation-delay: -1.5s;
}

.titleComposition {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.titleComposition .titles .subTitleIce {
  width: 100%;
  color: #B9B7FF;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

.titleComposition .titles .titleIce {
  width: 100%;
  color: #22222C;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: oblique;
  text-align: right;
  font-size: 100px;
  line-height: 55px;
}

.titleComposition .titles #thirdTitle {
  width: 100%;
  text-align: right;
}

.titleComposition .imageTitle {
  cursor: pointer;
  margin-left: -20px;
  width: 200px;
  z-index: 1;
}

.test {
  height: 100vh;
  transition: .2s ease all;
}

.test .titleTest {
  width: 100%;
  height: 200px;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-flow: 1;
  transition: .2s ease all;
}

.test .titleTest h1 {
  width: 100%;
  color: #22222C;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
  position: relative;
  transition: .2s ease all;
}

.test .titleTest h1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  transition: .2s ease all;
}

.test .titleTest h1 .letter {
  display: inline-block;
  line-height: 1em;
  transition: .2s ease all;
}

.test .answersContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.test .answersContainer .answers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.test .answersContainer .answers .answer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test .answersContainer .answers .answer .answerCard {
  border-radius: 15px;
  margin: 20px 10%;
  width: 70px;
  height: 80px;
  border: 4px solid #22222C;
  cursor: pointer;
}

.test .answersContainer .answers .answer .answerCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-10px);
}

.test .answersContainer .answers .answer span {
  height: 80px;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  color: #22222C;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-5-31 13:49:41
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes rotatingDotContainer {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes sizingDots {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 670px) {
  .titleComposition {
    flex-direction: column;
  }
  .titleComposition .titles .subTitleIce {
    font-size: 20px;
  }
  .titleComposition .titles .titleIce {
    font-size: 50px;
    line-height: 30px;
  }
  .titleComposition .titles #thirdTitle {
    width: 100%;
    line-height: 20px;
  }
  .titleComposition .imageTitle {
    margin-top: 20px;
    width: 60%;
  }
  .test .answersContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
  }
  .test .answersContainer .answers {
    flex-direction: column;
    justify-content: space-between;
  }
  .test .answersContainer .answers .answer {
    margin-top: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .test .answersContainer .answers .answer .answerCard {
    border-radius: 15px;
    margin: 20px 10%;
    width: 70px;
    height: 80px;
    border: 5px solid #22222C;
    transition: .2s ease all;
    cursor: pointer;
  }
  .test .answersContainer .answers .answer .answerCard:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateX(10px);
  }
  .test .answersContainer .answers .answer span {
    width: 100px;
    height: auto;
    text-align: left;
    font-family: "Montserrat", sans-serif;
  }
}
/*# sourceMappingURL=ice_cream.css.map */