* {
  font-family: "Montserrat", sans-serif;
  color: #22222C;
}

body {
  background: #fffdeb;
  overflow-x: hidden;
}

.contentApp {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contentApp .iceCreamContainer {
  opacity: 0;
  background-image: url(/imgs/backgrounds/backgroundIceCreams.png);
  background-size: 140px;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentApp .iceCreamContainer h1 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3FCECA;
  color: white;
  padding: 10px;
}

.contentApp .iceCreamContainer .creamsContainer {
  transition: .2s all;
  cursor: pointer;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.contentApp .iceCreamContainer .creamsContainer .item {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .2s all;
}

.contentApp .iceCreamContainer .creamsContainer .topItem {
  transition: .2s all;
  z-index: 3;
}

.contentApp .iceCreamContainer .creamsContainer .topItem .topItemContainer {
  transition: .2s all;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
}

.contentApp .iceCreamContainer .creamsContainer .middleItem {
  transition: .2s all;
  z-index: 2;
}

.contentApp .iceCreamContainer .creamsContainer .middleItem .middleItemContainer {
  transition: .2s all;
  width: 190px;
}

.contentApp .iceCreamContainer .creamsContainer .bottomItem {
  transition: .2s all;
  z-index: 1;
}

.contentApp .iceCreamContainer .creamsContainer .bottomItem .bottomItemContainer {
  transition: .2s all;
  margin-top: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.contentApp .iceCreamDescription {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background: #fffdeb;
}

.contentApp .iceCreamDescription .titleContainer {
  padding: 20px;
}

.contentApp .iceCreamDescription .titleContainer span {
  font-size: 2em;
  font-weight: 400;
  opacity: 0;
}

.contentApp .iceCreamDescription .titleContainer h1 {
  font-size: 3em;
  font-weight: 900;
  font-style: oblique;
  text-transform: uppercase;
  line-height: 40px;
  opacity: 0;
}

.contentApp .iceCreamDescription .descriptionContainer .dContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentApp .iceCreamDescription .descriptionContainer .dContainer p {
  border: solid #22222C 6px;
  font-weight: 600;
  padding: 20px;
  margin: 20px;
  max-width: 400px;
  opacity: 0;
}

.buttonIniciarAgain button {
  background: #FFAFB1;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  font-size: 20px;
  border: transparent;
  color: white;
  font-weight: 800;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 40px;
}

.vacio {
  display: none;
}

[color="blueberry"] {
  background-color: #ADA8CE;
}

[nameTop="blueberry"] {
  width: 80px;
  margin-bottom: -5px;
}

[color="mint"] {
  background-color: #4eccc2;
}

[nameTop="mint"] {
  width: 70px;
  margin-bottom: -5px;
  margin-right: -100px;
}

[nameBot="mint"] {
  width: 135px;
  margin-bottom: -5px;
}

[nameTop="blueberry"] {
  width: 80px;
  margin-bottom: -5px;
}

[nameBot="blueberry"] {
  width: 150px;
  margin-bottom: -5px;
}

[color="bubblegum"] {
  background-color: #CE7593;
}

[nameTop="bubblegum"] {
  width: 80px;
  margin-bottom: -30px;
  margin-left: -85px;
}

[nameBot="bubblegum"] {
  width: 150px;
  margin-bottom: -5px;
}

[color="vainilla"] {
  background-color: #EBDBBF;
}

[nameTop="vainilla"] {
  width: 110px;
}

[nameBot="vainilla"] {
  width: 150px;
  margin-bottom: -5px;
}

[color="chocolate"] {
  background-color: #6B4B2B;
}

[nameTop="chocolate"] {
  width: 80px;
  margin-left: -50px;
}

[nameBot="chocolate"] {
  width: 150px;
  margin-bottom: -5px;
}

[color="pistachio"] {
  background-color: #9CBC59;
}

[nameTop="pistachio"] {
  width: 110px;
}

[nameBot="pistachio"] {
  width: 150px;
}

[color="orange"] {
  background-color: #C66D26;
}

[nameTop="orange"] {
  width: 80px;
}

[nameBot="orange"] {
  width: 150px;
}
/*# sourceMappingURL=ice_cream_selected.css.map */