$mont : 'Montserrat', sans-serif;
$pink : #FFAFB1;
$green: #B7DB66;
$blue: #3FCECA;
$gray: #B6B8B8;
$black: #22222C;

.slider {

    width: 100%;
    background: $blue;
}
.main-carousel {
    background: #FFF;
}
.carousel-cell {
    width: 100%; /* full width */
    height: 100%; /* height of carousel */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        text-transform: uppercase;
        color: $black;
        font-family: $mont;
        font-size: 3em;
        font-weight: 800;
        background: $blue;
        border: 15px solid $black;
        padding: 20px;
    }
}

.characteristics {
    padding: 9vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../imgs/backgrounds/fondoChispastrans.png") ;
    height: 100vh;
    box-sizing: border-box;
    h2 {
        font-family: $mont;
        letter-spacing: 10px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 20vh;
    }
    .characteristicContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .characteristic {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 200px;
        cursor: pointer;
        span {
            width: 100px;
            height: 3em;
            text-align: center;
            font-family: $mont;
            font-weight: 600;
            color: $black;
            vertical-align: center;
        }
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    .info {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-right: 20px;
        h6 {
            margin-right: 20px;
            font-family: $mont;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 1.5em;
            color: #22222C;
            
        }
        span {
            color: #22222C;
            display: block;
            font-family: $mont;
            font-weight: 400;
            font-size: 1em;
            line-height: 2em;
            b {
                color: #3F3F51;
            }
        }
        
    }
    .logo {
        width: 40%;
        
    }
    
}


@media screen and (max-width: 670px) {
    footer {
        flex-direction: column;
        align-items: center;
        .info {
            width: 90%;
            justify-content: space-between;
            text-align: center;
            h6 {
                width: 100%;
            }
        }
        .logo {
            width: 80%;
            margin: 20px 0  20px 0;
        }
    }
}
