$mont : 'Montserrat', sans-serif;
$pink : #FFAFB1;
$green: #B7DB66;
$blue: #3FCECA;
$gray: #B6B8B8;
$black: #22222C;

.slider {

    width: 100%;
    background: $blue;
}
.main-carousel {
    background: #FFF;
}
.carousel-cell {
    width: 100%; /* full width */
    height: 100%; /* height of carousel */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        text-transform: uppercase;
        color: $black;
        font-family: $mont;
        font-size: 3em;
        font-weight: 800;
        background: $blue;
        border: 15px solid $black;
        padding: 20px;
    }
}

.characteristics {
    padding: 9vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../imgs/backgrounds/fondoChispastrans.png") ;
    
    h2 {
        font-family: $mont;
        letter-spacing: 10px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
    }
    .characteristicContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .characteristic {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 200px;
        cursor: pointer;
        span {
            width: 100px;
            height: 3em;
            text-align: center;
            font-family: $mont;
            font-weight: 600;
            color: $black;
            vertical-align: center;
        }
    }
}

