.st0 {
    fill: #B7DB66;
    stroke: #000000;
    stroke-width: 19;
    stroke-linecap: square;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #B6B8B8;
    stroke: #000000;
    stroke-width: 19;
    stroke-linecap: square;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #FFAFB1;
    stroke: #000000;
    stroke-width: 19;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #3FCECA;
    stroke: #000000;
    stroke-width: 19;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st4 {
    fill: none;
    stroke: #000000;
    stroke-width: 19;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #B7DB66;
}

.st6 {
    fill: #FFAFB1;
}

.st7 {
    fill: #3FCECA;
}

.st8 {
    fill: #B6B8B8;
}

.st9 {
    fill: #FBD063;
}

.st10 {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-width: 19;
    stroke-miterlimit: 10;
}

.st11 {
    fill: #FBD063;
    stroke: #000000;
    stroke-width: 19;
    stroke-linecap: square;
    stroke-linejoin: bevel;
    stroke-miterlimit: 10;
}

.st12 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.st13 {
    font-size: 77.8433px;
}